* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

section {
    background-color: #F49D36;
    padding: 20px;
}

.section {
    padding: 120px 20px !important;
}

nav {
    background: #0973AD;
    box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.25);
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.nav-link.active {
    color: white !important;
    font-weight: 600;
}

.nav-link:hover {
    color: #F49D36;
}

.navbar-toggler-icon {
    background-image: url('../images/menu-icon.svg') !important;
}

button.navbar-toggler {
    border: 1px solid #ffff !important;
}

.btn-primary {
    background-color: #0973AD;
    font-size: 16px;
    padding: 10px 20px;
}

.home_heading {
    border-bottom: 1px solid #D0CFCF;
}