.cart_card {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}

.cart_images {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart_card {
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.cart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: start;
}

.cart_heading {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart_card {
    margin-bottom: 10px;
}

.home_heading {
    padding: 10px;
    border-bottom: 1px solid #D0CFCF;
    display: flex;
    align-items: center;
}

/* Mobile phones */
@media (max-width: 480px) {
    .cart {
        display: block;
    }
}